/*Default*/

.slider {
    width: 95%;
    margin: auto;
    overflow:hidden; 

}

    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite alternate linear;
        animation-timing-function: ease-in;
    }
    .slider:nth-child(2) ul {
        animation-timing-function: steps(60); 

    }

    .slider li {
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 100%;
    }

@keyframes cambio {

    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }


    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }



    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }



    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.buscador-box {
    position: relative;
    top: 13%;
    left: 30%;
    width:356px;
    transform: translate(-95%,-50%);
    background: #ff6f60; 
    height:40px; 
    border-radius: 40px; 
    padding: 10px; 


}




    .buscador-box input[type="submit"] {
        color: white;
        float: right;
        width: 70px;
        height: 40px;
        border-radius: 19%;
        background: #ab000d;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buscador-box input {
    
        border:none;
        background:none;
        outline:none;
        float:left;
        padding:0;
        color:white;
        font-size:16px;
        transition:0.4s;
        line-height:10px;
        width:260px;
        top:10%; 

    }
.usuario-box input[type="submit"] {
    position: relative;
    top: 13%;
    left: 100%;
    color:white;
    width: 110px;
    height: 40px;
   
    background: #ab000d;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Login*/
.cuerpa {
    margin: 0;
    padding: 0;
    background: url(./Imagenes/principio/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 420px;
    background: #ff6f60;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

    .login-box img {
        width: 105px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }

    .login-box h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }

    .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }

    .login-box input {
        width: 100%;
        margin-bottom: 20px;
    }

        .login-box input[type="text"], .login-box input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #b80f22;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }

            .login-box input[type="submit"]:hover {
                cursor: pointer;
                background: #ffc107;
                color: #000;
            }

    .login-box a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
    }

        .login-box a:hover {
            color: #fff;
        }

        /*Usuario*/
.imagen-baner input[type="image"] {
    display: flex;
    width: 100%;
}

/*Agregar publicaciones*/

agregar-box {
    width: 320px;
    height: 420px;
    background: #ff6f60;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.agregar-box p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
}

.agregar-box input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}